*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
}

.titulares{
    font-size: 24px;
    width: 100%;
    color: #666;
}

.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
}

.descripciones{
    font-size: 16px;
    color: #666;
}

.banner{
    width: 100%;
}

.menu-contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size:28px;
    
}

.menu-contenedor p {
    background-color: #03264C;
    color: white;
    padding: 10px 15px ;
    border-radius: 5px;
    cursor: pointer;
}

.titulares-footer{
    font-size: 24px;
    margin-bottom: 5px;
}
.descripciones-footer{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 80px;
}

main {
    margin-bottom: 80px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section article i,
.descuento{
    color: #39b54a;
}

main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
}


main section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: #FFF;
    padding: 15px;

}

main section h3{
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.ultima-visita{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  
}
.ofertas{
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
    
}
/* .productos{
    
} */

footer {
   padding-left: 25px;
   padding-right: 25px;
    text-align: center;
    
}

.icon-footer{
    font-size: 30px;
    margin-bottom: 20px;
    color: #03264C;
}

@media (max-width: 425px){
.banner{
    width: 100%;
}
}